<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
	<timestamp key="LOG_DATE" datePattern="yyyyMMdd"/>
<!-- 	<property name="COMMON_LOG_FILE" value="/logs/common/common" /> -->
<!-- 	<property name="TRACE_LOG_FILE" value="/logs/trace/trace" /> -->

<!-- 	<appender name="COMMON" class="ch.qos.logback.core.rolling.RollingFileAppender"> -->
<!-- 		<encoder> -->
<!-- 			<pattern>${FILE_LOG_PATTERN}</pattern> -->
<!-- 		</encoder> -->
<!-- 		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> -->
<!-- 			<fileNamePattern>${COMMON_LOG_FILE}-%d{yyyyMMdd}.log</fileNamePattern> -->
<!-- 			<maxHistory>10</maxHistory> -->
<!-- 		</rollingPolicy> -->

<!-- 		<layout class="ch.qos.logback.classic.PatternLayout"> -->
<!-- 			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}; %-5level; %X{x-request-id}; %logger{36}; - %msg%n</Pattern> -->
<!-- 		</layout> -->
<!-- 		<filter class="ch.qos.logback.classic.filter.LevelFilter"> -->
<!-- 			<level>ERROR</level> -->
<!-- 			<onMatch>DENY</onMatch> -->
<!-- 		</filter> -->
<!-- 	</appender> -->

<!-- 	<appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender"> -->
<!-- 		<encoder> -->
<!-- 			<pattern>${FILE_LOG_PATTERN}</pattern> -->
<!-- 		</encoder> -->
<!-- 		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> -->
<!-- 			<fileNamePattern>${TRACE_LOG_FILE}-%d{yyyyMMdd}.log</fileNamePattern> -->
<!-- 			<maxHistory>10</maxHistory> -->
<!-- 		</rollingPolicy> -->

<!-- 		<layout class="ch.qos.logback.classic.PatternLayout"> -->
<!-- 			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}; %-5level; %X{x-request-id}; %logger{36}; - %msg%n</Pattern> -->
<!-- 		</layout> -->
<!-- 		<filter class="ch.qos.logback.classic.filter.LevelFilter"> -->
<!-- 			<level>ERROR</level> -->
<!-- 			<onMatch>ACCEPT</onMatch> -->
<!-- 			<onMismatch>DENY</onMismatch> -->
<!-- 		</filter> -->
<!-- 	</appender> -->
<!-- 	<appender name="CLOUDWATCH" -->
<!-- 		class="com.j256.cloudwatchlogbackappender.CloudWatchAppender"> -->
<!-- 		<region>us-west-1</region> -->
<!-- 		<accessKeyId>AKIA3GIM5NDHXLLYQBEA</accessKeyId> -->
<!-- 		<secretKey>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</secretKey> -->
<!-- 		<logGroup>brainjuice-api</logGroup> -->
<!-- 		<logStream>logstream</logStream> -->
<!-- 		<layout> -->
<!-- 			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}; %-5level; %X{x-request-id}; -->
<!-- 				%logger{36}; - %msg%n</Pattern> -->
<!-- 		</layout> -->
<!-- 		<maxBatchSize>32</maxBatchSize> -->
<!-- 	</appender> -->

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
<!-- 		<appender-ref ref="CLOUDWATCH" /> -->
<!-- 		<appender-ref ref="COMMON"/> -->
<!-- 		<appender-ref ref="ERROR"/> -->
	</root>
</configuration>